doctype html

html(lang='en')
  body
    h1= title
    table
      tr
        th Name
        th Message
        th Date created

      each message in messages
        tr
          td= message.user
          td= message.text
          td= message.added
      
    - var url = 'new';
    a(href='/' + url) Add a new Message